<div id="<%= dom_id sprint_data_column_definition %>">
  <p>
    <strong>Name:</strong>
    <%= sprint_data_column_definition.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= sprint_data_column_definition.position %>
  </p>

</div>
