<h1>Editing sprint data column definition</h1>

<%= render "form", sprint_data_column_definitions: @sprint_data_column_definition %>

<br>

<div>
  <%= link_to "Show this sprint data column definition", @sprint_data_column_definition %> |
  <%= link_to "Back to sprint data column definitions", sprint_data_column_definitions_path %>
</div>
